<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <a href="{% url 'add' %}" class="btn btn-info">add bookmark</a>
</div>
<table>
        <tr>
            <th>#</th>
            <th>site</th>
            <th>url</th>
            <th>modify</th>
            <th>delete</th>
        </tr>
    {% for bookmark in object_list %}
        <tr>
            <td> {{ forloop.counter }}</td>
            <td><a href="{% url 'detail' pk=bookmark.id %}">{{ bookmark.site_name }}</a></td>
            <td>{{ bookmark.url }}</td>
            <td><a href="{% url 'update' pk=bookmark.id %}">modify</a></td>
            <td><a href="{% url 'delete' pk=bookmark.id %}">delete</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>